{%extends "base.html"%}

{% block title%}Login{% endblock title%}

{% block body%}

<head>
    <link rel="stylesheet" href="../static/css/signup_login.css">
</head>
<section>
    <div class="bg-img">
        <div class="content">
            {% with messages= get_flashed_messages() %}
            {%if messages%}
            {%for messages in messages %}
            <div class="alert alert-danger" role="alert">
                {{messages}}
            </div>
            {%endfor%}
            {%endif%}
            {%endwith%}
            <header>Login</header>
            <form action="/user_login" method="post">
                <div class="field">
                    <span class="fa fa-user"></span>
                    <input name="user_name" type="text" required placeholder="Username">
                </div>
                <div class="field space">
                    <span class="fa fa-lock"></span>
                    <input name="password" type="password" class="pass-key" required placeholder="Password">
                    <span class="show">SHOW</span>
                </div>
                <div class="pass">
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="field">
                    <input type="submit" value="LOGIN">
                </div>
            </form>
            <div class="login">
                Or login with
            </div>
            <div class="links">
                <div class="facebook">
                    <i class="fab fa-facebook-f"><span>Facebook</span></i>
                </div>
                <div class="instagram">
                    <i class="fab fa-instagram"><span>Instagram</span></i>
                </div>
            </div>
            <div class="signup">
                Don't have account?
                <a href="user_signup">Signup Now</a>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/signup_login.js"></script>

{%endblock body%}